<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>IlliniEvents</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static%}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "css/navbar.css" %}" />
  </head>
  <body>
    <!-- This is the base html page, so it would just include like a navbar and/or footer 
        basically anything that needs to be on EVERY SINGLE PAGE - or almost every page
        Every other html page uses this page (using extends) -->
    <div class="container">
      <ul class="nav bg">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/">About</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button type="button" class="btn text-white dropdown-toggle" data-bs-toggle="dropdown">
              Event
            </button>
            <ul class="dropdown-menu bg">
              <li><a class="dropdown-item text-white" href="/event/form/">Create Event</a></li>
              <li><a class="dropdown-item text-white" href="/event/list/">Event List</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <h1>Welcome to IlliniEvents!</h1>
  </body>
</html>
