.form-field {
    width: 30% !important;
}

.form-select {
    width: 30% !important;
}

.btn-custom {
    width: 30% !important;
    padding: 0 !important;
    cursor: pointer !important;
    outline: none !important;
    box-shadow: none !important;
}