h1 {
    color: white;
    text-align: center;
}
ul.bg {
    background-color: lightblue;
    color: white;
}
a {
    background-color: lightblue;
    color: white;
}
body {
    background-color: lightblue;
}